/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


body {
  font-family: Arial, sans-serif;
  margin: 20px;
}
.game {
  display: flex;
  flex-direction: row;
}
.game-board {
  margin-right: 20px;
}
.board-row:after {
  clear: both;  
  content: "";
  display: table;
}
.square {
  background: #a56666;
  border: 2px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 54px;
  height: 54px;
  
}

.square:disabled {
  background: #ddd;
  color: #999;
}

.status {
  margin-bottom: 10px;
  font-weight: bold;
}
.square:focus {
  outline: none;
}
.kbd-navigation .square:focus {
  background: #ddd;
}
.status {
  margin-bottom: 10px;
} 
.game-info {
  margin-left: 20px;
}
ol, ul {
  padding-left: 30px;
}

.counterTitle {
  font-size: 24px;
  margin-bottom: 10px;
}
.counterValue {
  font-size: 48px;
  margin-bottom: 20px;
}
.counterButton {
  font-size: 18px;
  padding: 10px 20px;
  margin: 5px;
  background-color: rgb(134, 231, 235);
  cursor: pointer;
}

.todoApp {
  max-width: 400px;
  margin: 80px auto;
  padding: 100px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  align-items: center;
}
.todoApp h1 {
  font-size: 24px;
  margin-bottom: 20px;
  
}
.todoApp input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.todoApp ul {
  list-style-type: none;
  padding: 0;
}
.todoApp li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.todoApp li:last-child {
  border-bottom: none;
} 

.increasesize {
  font-size: 24px;
}
.decreasesize {
  font-size: 24px;
}

